#div1 {
    background-color: rgb(39, 38, 38);
    width: 33.33%;
    float: right;
    height: 450px;
    color: blue;

    #div5 {
        background-color: black;
        height: 450px;
        text-decoration: white;
        color: blue;
    }
}

#div2 {
    background-color: rgb(39, 38, 38);
    width: 23.33%;
    float: left;
    height: 900px;
    text-decoration: yellow;
    color: blue;
}

#div3 {
    background-color: black;
    width: 53.33%;
    margin: 0 auto;
    height: 450px;
    color: blue;

    #div4 {
        background-color: gray;
        height: 450px;
        color: blue;
    }
}